attrs==19.3.0
Automat==0.8.0
git+https://github.com/athorp96/bb84#egg=bb84
bitstring==3.1.6
BitVector==3.4.9
certifi==2019.9.11
chardet==3.0.4
Click==7.0
constantly==15.1.0
cqc==3.0.4
crypto==1.4.1
daemons==1.3.1
decorator==4.4.0
entrypoints==0.3
flake8==3.7.8
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
mccabe==0.6.1
Naked==0.1.31
networkx==2.4
npyscreen==4.10.5
numpy==1.17.3
pkg-resources==0.0.0
pycodestyle==2.5.0
pycryptodome==3.9.0
pyflakes==2.1.1
PyHamcrest==1.9.0
PyYAML==5.1.2
requests==2.22.0
scipy==1.3.1
shellescape==3.4.1
simulaqron==3.0.8
six==1.12.0
Twisted==19.7.0
urllib3==1.25.6
zope.interface==4.6.0
